{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/includes/footer.css' %}">
{% endblock %}

<footer>
    <div class="footer-content">
        <div class="footer-section">
            <h3>RentHub</h3>
            <a href="#">Sobre nós</a>
            <a href="#">Contato</a>
            <a href="#">Blog</a>
        </div>
        <div class="footer-section">
            <h3>Ajuda</h3>
            <a href="#">FAQ</a>
            <a href="#">Segurança</a>
            <a href="#">Termos de uso</a>
        </div>
    </div>
</footer>